//*- ------------------------------- Git Tags ------------------------------- -//

//------------------------------- Why Tags ------------------------------- //
//- Tags can be really very handy when it comes to maintain versions of a project and whenever you try to track back your project.
//- You can easily goto that particular log using just your tag.
//- ------------------------------------------------------------------------ -//

//*- -------------------------------- Add Tag ------------------------------- -//
git tag <tag_name>

//*- ------------------------------- View Tags ------------------------------ -//
git tag --list

//*- ------------------------------- Push Tag ------------------------------- -//
git push --tags

//*- ----------------------------- Checkout Tag ----------------------------- -//
git checkout <tag_name>

//*- ---------------------------------- EOF --------------------------------- -//